In [18]:
# import required libraries for SQL in Python
import sqlite3
from sqlite3 import Error

# define a function that will connect to our database
# if the database does not exist, we will create it
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print('Connection to SQLite DB successful')
    except Error as e:
        print(f'The error "{e}" occurred')
    
    return connection

In [19]:
# store our connection parameter which will be used to connect
# to the data base later
connection = create_connection("sm_app.sqlite")

Connection to SQLite DB successful

In [20]:
# execute_query function will execute a string query for us
# and output a success message, or an error message if it fails
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print('Query executed successfully')
    except Error as e:
        print('The error', e, 'occurred')

In [21]:
# create a long string that will be used to create a users table
create_users_table = """
CREATE TABLE IF NOT EXISTS users(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    gender TEXT,
    nationality TEXT
);
"""

In [22]:
# call the execute_query function with our db as the connection path,
# and our create query as the query
execute_query(connection, create_users_table)

Query executed successfully

In [9]:
create_posts_table = """
CREATE TABLE IF NOT EXISTS posts(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    description TEXT NOT NULL,
    user_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id)
);
"""

In [10]:
execute_query(connection, create_posts_table)

Query executed successfully

In [11]:
create_comments_table = """
CREATE TABLE IF NOT EXISTS comments (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  text TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  post_id INTEGER NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

create_likes_table = """
CREATE TABLE IF NOT EXISTS likes (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  user_id INTEGER NOT NULL, 
  post_id integer NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

execute_query(connection, create_comments_table)  
execute_query(connection, create_likes_table)

Query executed successfully
Query executed successfully

In [23]:
# now, let's populate the created tables. We can use the same execute_query
# function.
create_users = """
INSERT INTO
    users (name, age, gender, nationality)
VALUES
    ('James', 25, 'male', 'USA'),
    ('Leila', 32, 'female', 'France'),
    ('Brigitte', 35, 'female', 'England'),
    ('Mike', 40, 'male', 'Denmark'),
    ('Elizabeth', 21, 'female', 'Canada');
"""

execute_query(connection, create_users)

Query executed successfully

In [24]:
# create other entries for the other tables and use execute_query function
create_posts = """
INSERT INTO
    posts (title, description, user_id)
VALUES
    ("Happy", "I am feeling very happy today", 1),
    ("Hot Weather", "The weather is very hot today", 2),
    ("Help", "I need some help with my work", 2),
    ("Great News", "I am getting married", 1),
    ("Interesting Game", "It was a fantastic game of tennis", 5),
    ("Party", "Anyone up for a late-night party today?", 3);
"""

execute_query(connection, create_posts)

Query executed successfully

In [25]:
create_comments = """
INSERT INTO
    comments (text, user_id, post_id)
VALUES
    ('Count me in', 1, 6),
    ('What sort of help?', 5, 3),
    ('Congrats buddy', 2, 4),
    ('I was rooting for Nadal though', 4, 5),
    ('Help with your thesis?', 2, 3),
    ('Many congratulations', 5, 4);
"""

create_likes = """
INSERT INTO
    likes (user_id, post_id)
VALUES
    (1, 6),
    (2, 3),
    (1, 5),
    (5, 4), 
    (2, 4),
    (4, 2),
    (3, 6);
"""

execute_query(connection, create_comments)
execute_query(connection, create_likes)

Query executed successfully
Query executed successfully

In [26]:
# Now let's create a new function that will run our SELECT queries
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print('The error', e, 'occurred')

In [27]:
# Let's test our new function. It will store the results in a variable
# Then we use a for loop to print all entries.
select_users = "SELECT * FROM users"
users = execute_read_query(connection, select_users)

for user in users:
    print(user)

(1, 'James', 25, 'male', 'USA')
(2, 'Leila', 32, 'female', 'France')
(3, 'Brigitte', 35, 'female', 'England')
(4, 'Mike', 40, 'male', 'Denmark')
(5, 'Elizabeth', 21, 'female', 'Canada')
(6, 'James', 25, 'male', 'USA')
(7, 'Leila', 32, 'female', 'France')
(8, 'Brigitte', 35, 'female', 'England')
(9, 'Mike', 40, 'male', 'Denmark')
(10, 'Elizabeth', 21, 'female', 'Canada')

We can use all complex statements, like joins, subqueries, filtering,  aggregation functions with the method above.

In [35]:
select_posts = "SELECT * FROM posts"
posts = execute_read_query(connection, select_posts)

for post in posts:
    print(post)

(1, 'Happy', 'The weather has become pleasant now', 1)
(2, 'Hot Weather', 'The weather has become pleasant now', 2)
(3, 'Help', 'The weather has become pleasant now', 2)
(4, 'Great News', 'The weather has become pleasant now', 1)
(5, 'Interesting Game', 'The weather has become pleasant now', 5)
(6, 'Party', 'The weather has become pleasant now', 3)
(7, 'Happy', 'The weather has become pleasant now', 1)
(8, 'Hot Weather', 'The weather has become pleasant now', 2)
(9, 'Help', 'The weather has become pleasant now', 2)
(10, 'Great News', 'The weather has become pleasant now', 1)
(11, 'Interesting Game', 'The weather has become pleasant now', 5)
(12, 'Party', 'The weather has become pleasant now', 3)

In [32]:
# To update records in SQLite, we can reuse the execute_query() function
# Let's update the description of post with id 2:
update_post_description = """
UPDATE
    posts
SET
    description = 'The weather has become pleasant now'
"""

execute_query(connection, update_post_description)

Query executed successfully

In [33]:
# Deleting table records - we can again use the execute_query()
delete_comment = "DELETE FROM comments WHERE id = 5"
execute_query(connection, delete_comment)

Query executed successfully

In [34]:
select_comments = "SELECT * FROM comments"
comments = execute_read_query(connection, select_comments)

for comment in comments:
    print(comment)

(1, 'Count me in', 1, 6)
(2, 'What sort of help?', 5, 3)
(3, 'Congrats buddy', 2, 4)
(4, 'I was rooting for Nadal though', 4, 5)
(6, 'Many congratulations', 5, 4)
(7, 'Count me in', 1, 6)
(8, 'What sort of help?', 5, 3)
(9, 'Congrats buddy', 2, 4)
(10, 'I was rooting for Nadal though', 4, 5)
(11, 'Help with your thesis?', 2, 3)
(12, 'Many congratulations', 5, 4)