## Hypothesis Testing Assignment

In [1]:
# Importing necessary packages
import pandas as pd
import numpy as np
# package with hypothesis tests
import scipy.stats as st

### Data

You can download the data from [**here**](https://drive.google.com/file/d/0Bz9_0VdXvv9bUUNlUTVrMF9VcVU/view?usp=sharing&resourcekey=0-16O9Fc5eaJH99-M7AHqHOg). The data contains results of all NBA games from seasons 2013/2014 to 2015/2016.

In [2]:
df = pd.read_csv("/home/eduardo/Downloads/nba_games_2013_2015.csv", sep=';')

In [3]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7375,22013,1610612753,ORL,Orlando Magic,21300001,2013-10-29,ORL @ IND,L,241,87,...,0.600,13,26,39,17,10,6,17,26,-10.0
7376,22013,1610612748,MIA,Miami Heat,21300002,2013-10-29,MIA vs. CHI,W,239,107,...,0.759,5,35,40,26,10,7,18,21,12.0
7377,22013,1610612747,LAL,Los Angeles Lakers,21300003,2013-10-29,LAL vs. LAC,W,240,116,...,0.643,18,34,52,23,8,6,19,23,13.0
7378,22013,1610612741,CHI,Chicago Bulls,21300002,2013-10-29,CHI @ MIA,L,238,95,...,0.783,11,30,41,23,11,4,18,27,-12.0
7379,22013,1610612754,IND,Indiana Pacers,21300001,2013-10-29,IND vs. ORL,W,241,97,...,0.688,10,34,44,17,4,18,20,13,10.0

--------------
### Task 1
Split the data into **3** separate dataframes for each NBA season!

In [4]:
# Create a boolean that check if the SEASON_ID value is 22013, which correponds to our year of interest
is_2013 = df['SEASON_ID'] == 22013
print(is_2013)

0       False
1       False
2       False
3       False
4       False
        ...
7375     True
7376     True
7377     True
7378     True
7379     True
Name: SEASON_ID, Length: 7380, dtype: bool

In [5]:
# Now we filter our original df using the boolean is_2013, only True responses are shown
df_2013 = df[is_2013]
df_2013

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
4920,22013,1610612742,DAL,Dallas Mavericks,21301216,2014-04-16,DAL @ MEM,L,265,105,...,0.818,15,24,39,22,11,4,13,23,-1.0
4921,22013,1610612743,DEN,Denver Nuggets,21301230,2014-04-16,DEN vs. GSW,L,241,112,...,0.829,9,33,42,23,4,4,19,28,-4.0
4922,22013,1610612762,UTA,Utah Jazz,21301218,2014-04-16,UTA @ MIN,W,291,136,...,0.828,22,38,60,30,10,9,18,34,6.0
4923,22013,1610612751,BKN,Brooklyn Nets,21301224,2014-04-16,BKN @ CLE,L,240,85,...,0.739,6,30,36,21,9,1,15,16,-29.0
4924,22013,1610612753,ORL,Orlando Magic,21301227,2014-04-16,ORL vs. IND,L,240,86,...,0.708,9,31,40,14,9,5,10,16,-15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7375,22013,1610612753,ORL,Orlando Magic,21300001,2013-10-29,ORL @ IND,L,241,87,...,0.600,13,26,39,17,10,6,17,26,-10.0
7376,22013,1610612748,MIA,Miami Heat,21300002,2013-10-29,MIA vs. CHI,W,239,107,...,0.759,5,35,40,26,10,7,18,21,12.0
7377,22013,1610612747,LAL,Los Angeles Lakers,21300003,2013-10-29,LAL vs. LAC,W,240,116,...,0.643,18,34,52,23,8,6,19,23,13.0
7378,22013,1610612741,CHI,Chicago Bulls,21300002,2013-10-29,CHI @ MIA,L,238,95,...,0.783,11,30,41,23,11,4,18,27,-12.0
7379,22013,1610612754,IND,Indiana Pacers,21300001,2013-10-29,IND vs. ORL,W,241,97,...,0.688,10,34,44,17,4,18,20,13,10.0

In [6]:
# same for other seasons: first booleand df, and then filter by comparing to the boolean df
is_2014 = df['SEASON_ID'] == 22014
df_2014 = df[is_2014]
df_2014

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
2460,22014,1610612760,OKC,Oklahoma City Thunder,21401222,2015-04-15,OKC @ MIN,W,241,138,...,0.710,18,28,46,22,10,6,13,25,25.0
2461,22014,1610612765,DET,Detroit Pistons,21401226,2015-04-15,DET @ NYK,W,240,112,...,0.741,11,33,44,20,14,3,12,22,22.0
2462,22014,1610612766,CHA,Charlotte Hornets,21401228,2015-04-15,CHA @ TOR,L,240,87,...,0.938,8,28,36,15,8,3,12,10,-5.0
2463,22014,1610612737,ATL,Atlanta Hawks,21401217,2015-04-15,ATL @ CHI,L,240,85,...,0.714,10,32,42,15,10,10,15,19,-6.0
2464,22014,1610612759,SAS,San Antonio Spurs,21401223,2015-04-15,SAS @ NOP,L,238,103,...,0.769,4,32,36,33,2,3,15,20,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4915,22014,1610612740,NOP,New Orleans Pelicans,21400001,2014-10-28,NOP vs. ORL,W,240,101,...,0.484,26,36,62,20,10,17,9,17,17.0
4916,22014,1610612742,DAL,Dallas Mavericks,21400002,2014-10-28,DAL @ SAS,L,239,100,...,0.842,9,24,33,17,9,3,10,20,-1.0
4917,22014,1610612753,ORL,Orlando Magic,21400001,2014-10-28,ORL @ NOP,L,239,84,...,0.762,16,40,56,17,5,9,18,25,-17.0
4918,22014,1610612745,HOU,Houston Rockets,21400003,2014-10-28,HOU @ LAL,W,241,108,...,0.680,14,33,47,22,7,3,13,30,18.0
4919,22014,1610612759,SAS,San Antonio Spurs,21400002,2014-10-28,SAS vs. DAL,W,241,101,...,0.813,9,29,38,23,5,3,20,20,1.0

In [7]:
is_2015 = df['SEASON_ID'] == 22015
df_2015 = df[is_2015]
df_2015

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,22015,1610612744,GSW,Golden State Warriors,21500003,2015-10-27,GSW vs. NOP,W,241,111,...,0.909,21,35,56,29,8,7,20,29,16.0
2456,22015,1610612739,CLE,Cleveland Cavaliers,21500002,2015-10-27,CLE @ CHI,L,240,95,...,0.588,11,39,50,26,5,7,10,21,-2.0
2457,22015,1610612740,NOP,New Orleans Pelicans,21500003,2015-10-27,NOP @ GSW,L,241,95,...,0.704,8,25,33,21,9,3,18,26,-16.0
2458,22015,1610612741,CHI,Chicago Bulls,21500002,2015-10-27,CHI vs. CLE,W,240,97,...,0.696,7,40,47,13,6,10,13,22,2.0
2459,22015,1610612737,ATL,Atlanta Hawks,21500001,2015-10-27,ATL vs. DET,L,239,94,...,0.800,7,33,40,22,9,4,15,25,-12.0

In [ ]:
# another way to filter is by selecting only rows that match our column filter
df2013 = df[df['SEASON_ID'] == 22013]
df2013

In [ ]:
df2014 = df[df['SEASON_ID'] == 22014]
df2014

In [ ]:
df2015 = df[df['SEASON_ID'] == 22015]
df2015

---------------
### Task 2
Test the hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season.

Offensive production refers to two variables: **PTS (Points)** and **FG_PCT (Field Goal Percentage)**. We will need to do two separate hypothesis tests, one for each variable.

In [34]:
# data for points for each team
pts_cle = df2015[df2015['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']
fgp_cle = df2015[df2015['TEAM_NAME'] == 'Cleveland Cavaliers']['FG_PCT']

4       0.474
40      0.482
78      0.434
127     0.473
151     0.547
        ...
2336    0.398
2364    0.519
2399    0.453
2440    0.488
2456    0.404
Name: FG_PCT, Length: 82, dtype: float64

In [22]:
pts_gsw = df2015[df2015['TEAM_NAME'] == 'Golden State Warriors']['PTS']
fgp_gsw = df2015[df2015['TEAM_NAME'] == 'Golden State Warriors']['FG_PCT']

We observe two independent samples, i.e. PTS for the GSW and CLE, and we are considering whether the two samples were drawn from the same population (e.g. distribution) or two different populations.

The t-test quantifies the difference between the arithmetic means of the two samples. The p-value quantifies the probability of observing as or more extreme values assuming the null hypothesis, that the samples are drawn from populations with the same population means, is true.

In [26]:
# independent t-test to check if the PTS for CLE and GSW come from the same distribution
t_stat, p_val = st.ttest_ind(pts_cle, pts_gsw)
print('The t statistic is:', t_stat, '\nThe p-value is:', p_val)

The t-value is: -5.973920595717936
The p-value is: 1.4233420547764935e-08

In [28]:
# independent t-test to check if the FG_PCT for CLE and GSW come from the same distribution
t_stat, p_val = st.ttest_ind(fgp_cle, fgp_gsw)
print('The t statistic is:', t_stat, '\nThe p-value is:', p_val)

The t statistic is: -3.13195297595825
The p-value is: 0.00206097581047554

In [35]:
# what type of output do we get from st.ttest_ind?
print(type(t_stat))

<class 'numpy.float64'>

In [37]:
def indttest(data1,data2,nullhyp="Not specified",to_print=False,alpha=0.05):
    """Check whether or not we reject a given null hypothesis
    Parameters:
        nullhyp: (string) Null hypothesis
        data1, data2: Panda series of the 2 samples to compare.
        alpha: (float, optional) P-value threshold for significance. Default is 0.05.
        to_print: (boolean, optional) Print conclusion or not. Default is no.
    Returns p-value
    """
    # new variable that will hold the results from our independent t_test
    ttest = st.ttest_ind(data1, data2)
    
    # bit of test showing what we tested, if user enters their hypothesis
    print('Tested null hypothesis:', nullhyp)
    
    # ttest[1] gives the p-value, we will compare it to the alpha value from our indttest function
    # if p-value is less than alpha, then we reject the null hypothesis
    if ttest[1] < alpha:
        print('We rejected the null hypothesis since p-value is less than the critical value', alpha) 
        print('Samples are significantly different')
        print('p-value is:', ttest[1])
    
    # if p-value is more than alpha, then we cannot reject the null hypothesis
    else:
        print('We accept the null hypothesis since p-value is greater than the critical value', alpha)
        print('Samples are not significantly different')
        print('p-value is:', ttest[1])

indttest(pts_cle, pts_gsw, "Points are the same for the 2015/16 season.",True)
indttest(fgp_cle, fgp_gsw, "Field goal percentages are the same for the 2015/16 season.", True)

Tested null hypothesis: Points are the same for the 2015/16 season.
We rejected the null hypothesis since p-value is less than the critical value 0.05
Samples are significantly different
p-value is: 1.4233420547764935e-08
Tested null hypothesis: Field goal percentages are the same for the 2015/16 season.
We rejected the null hypothesis since p-value is less than the critical value 0.05
Samples are significantly different
p-value is: 0.00206097581047554

-----------------
### Task 3
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.

- **Coach Blatt was fired on 24th of Jan, 2016**. 

Use the data from seasons 2014/2015 and 2015/2016 - those are years when Cleveland was coached by Blatt. 

**We have two possible solutions to try here:**
- Take the same amount of games from before and after and try t-test.
- Take all the games from before and after and look for the right test to compare two samples with different sizes. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [59]:
# Play around with the data to learn how to get GAME_DATE info from df2015 before Blatt was fired
df_b2015 = df2015[(df2015['TEAM_NAME'] == 'Cleveland Cavaliers') & (df2015['GAME_DATE'] < '2016-01-24')]['PTS']
df_b2015.head()

1143     83
1176    115
1195     91
1218     98
1270     91
Name: PTS, dtype: int64

In [58]:
# Now select games with coach blatt during the 2014/2015 season
df_b2014 = df2014[df2014['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']
df_b2014.head()

2485    113
2517    109
2527     78
2553     90
2601    104
Name: PTS, dtype: int64

In [60]:
# Concatenate both dfs with games under coach Blatt, pass in a list with objs, specify axis
# axis=0 means concat on rows, axis=1 means concat on columns
df_b = pd.concat([df_b2014, df_b2015], axis=0)
df_b.head()

2485    113
2517    109
2527     78
2553     90
2601    104
Name: PTS, dtype: int64

In [61]:
# now a dataframe with games without coach blatt
df_wb = df2015[(df2015['TEAM_NAME'] == 'Cleveland Cavaliers') & (df2015['GAME_DATE'] > '2016-01-23')]['PTS']
df_wb.head()

4      110
40     109
78     102
127    109
151    109
Name: PTS, dtype: int64

In [63]:
# Since samples have different size, we need to perform a Welch's t-test
# We can use the same ttest_ind method, however we need to specify parameter equal_var=False
t_val_cle, p_val_cle = st.ttest_ind(df_b, df_wb, equal_var=False)
print('The t-statistic is:', t_val_cle, '\nThe p-value is:', p_val_cle)

The t-statistic is: -3.020359501985649
The p-value is: 0.003290500194598496

Since the p-value is less than 0.05, we reject the null hypothesis: PTS scored per game did change after firing Coach Blatt

----------------


### Task 4
Download [**the similar dataset**](https://drive.google.com/file/d/0Bz9_0VdXvv9bRHhuRTI1aXBQcTA/view?usp=sharing&resourcekey=0-jGIaWyk0bXyECNSzB3x38w) with scores from playoff games in 2016.

In [66]:
# import CSV file with playoffs data and create a data frame
playoffs = pd.read_csv("/home/eduardo/Downloads/nba_playoff_games_2016.csv", sep=';')
playoffs.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42015,1610612739,CLE,Cleveland Cavaliers,41500407,2016-06-19,CLE @ GSW,W,241,93,...,0.840,9,39,48,17,7,6,11,15,4.0
1,42015,1610612744,GSW,Golden State Warriors,41500407,2016-06-19,GSW vs. CLE,L,239,89,...,0.769,7,32,39,22,7,5,10,23,-4.0
2,42015,1610612744,GSW,Golden State Warriors,41500406,2016-06-16,GSW @ CLE,L,238,101,...,0.690,9,26,35,19,5,3,14,25,-14.0
3,42015,1610612739,CLE,Cleveland Cavaliers,41500406,2016-06-16,CLE vs. GSW,W,240,115,...,0.781,8,37,45,24,12,7,10,25,14.0
4,42015,1610612739,CLE,Cleveland Cavaliers,41500405,2016-06-13,CLE @ GSW,W,241,112,...,0.609,8,33,41,15,11,9,16,22,15.0

------------
### Task 5
Test the hypothesis that **number of blocks (BLK)** are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 seaon for the **Toronto Raptors**. 

- We will be working with two samples with different sizes again.

In [68]:
# create df with blocks data for the Raptors during the regular season
df_reg = df2015[df2015['TEAM_ABBREVIATION'] == 'TOR']['BLK']
df_reg

9       10
28       5
71       6
96       5
110      4
        ..
2323     3
2346     6
2370     3
2414     3
2448     2
Name: BLK, Length: 82, dtype: int64

In [70]:
# create df with blocks data for the Raptors during the playoffs
df_playoffs = playoffs[playoffs['TEAM_ABBREVIATION'] == 'TOR']['BLK']
df_playoffs.head()

19    2
22    3
26    3
31    4
32    4
Name: BLK, dtype: int64

In [71]:
# Perform Welch's t-test since the sample sizes are different. Null hypothesis: number of blocks during 
# regular season and playoffs have the same mean
t_val_tor, p_val_tor = st.ttest_ind(df_reg, df_playoffs, equal_var=False)
print('The t-statistic is:', t_val_tor, '\nThe p-value is:', p_val_tor)

The t-statistic is: 3.500438136870473
The p-value is: 0.0011403514552816168

Since the p-value is below our critical value of 0.05, we reject the null hypothesis. That means the arithmetic mean of blocks during the regular season and playoffs for the Raptors is different.


-----------------
### Task 6
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 seasons. 

- In this case, we need a hypothesis test that compares more than 2 distributions at the same. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [ ]:
# For more than two groups, we can perform an f-test or ANOVA test. The method is st.f_oneway:
# scipy.stats.f_oneway(*samples, axis=0)
# samples must be of the same size

In [72]:
# get the PTS data for each season
pts_2013 = df2013[df2013['TEAM_ABBREVIATION'] == 'CLE']['PTS']
pts_2014 = df2015[df2015['TEAM_ABBREVIATION'] == 'CLE']['PTS']
pts_2015 = df2015[df2015['TEAM_ABBREVIATION'] == 'CLE']['PTS']
pts_2015.head()

4      110
40     109
78     102
127    109
151    109
Name: PTS, dtype: int64

In [79]:
# Perform the f-test or ANOVA test to get the p-value
f_stats, p_value = st.f_oneway(pts_2013, pts_2014, pts_2015)
print('The p-value of the ANOVA test with 3 samples is:', p_value)

The p-value of the ANOVA test with 3 samples is: 0.0005525113132165636

Since the p-value is below our critical value of 0.05, we reject the null hypothesis that the PTS scored by the Cavs are equally distributed for all 3 seasons

#### Follow Up
**Between which seasons can we see the significant difference?**

+ Unfortunatelly, this is not the output of an ANOVA test and further tests are needed to be run.
+ Note: Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. We can use this fact to interpret our results correctly.

In [76]:
# Perform standard t-test to check the difference between 2013 and 2014 seasons
st.ttest_ind(pts_2013, pts_2014)

Ttest_indResult(statistic=-3.339057501969076, pvalue=0.001043164899206325)

In [78]:
# Perform standard t-test to check the difference between 2014 and 2015 seasons
st.ttest_ind(pts_2014, pts_2015)

Ttest_indResult(statistic=0.0, pvalue=1.0)

Between the 2013/2014 and the 2014/2015 seasons, which makes sense as Lebron James is one of the best players in NBA history.