In [2]:
# import datetime class from datetime module
from datetime import datetime

# get current date
datetime_object = datetime.now()
print(datetime_object)
print(type(datetime_object))

2022-09-20 17:50:42.648158
<class 'datetime.datetime'>

In [4]:
my_string = '2019-10-31'

# Create date object in given time format yyyy-mm-dd
my_date = datetime.strptime(my_string, "%Y-%m-%d")

print(my_date)
print(type(my_date))

2019-10-31 00:00:00
<class 'datetime.datetime'>

In [5]:
print('Month:', my_date.month) # To get month from date
print('Year:', my_date.year)   # To get year from date

Month: 10
Year: 2019

In [6]:
# import calendar module
import calendar
print('Day of Month:', my_date.day)

Day of Month: 31

In [7]:
# to get name of day(in number) from date
print('Day of Week (number): ', my_date.weekday())

Day of Week (number):  3

In [8]:
# to get name of day from date
print('Day of the Week (name):', calendar.day_name[my_date.weekday()])

Day of the Week (name): Thursday

In [9]:
j = 0
for i in calendar.day_name:
    print(j, '-', i)
    j += 1

0 - Monday
1 - Tuesday
2 - Wednesday
3 - Thursday
4 - Friday
5 - Saturday
6 - Sunday

In [14]:
from datetime import datetime 
todays_date = datetime.now()

# to get hour from datetime
print('Hour:', todays_date.hour)

# to get minute from datetime
print('Minute: ', todays_date.minute)

Hour: 18
Minute:  2

In [16]:
# Return a 3-tuple, (ISO year, ISO week number, ISO weekday).
todays_date.isocalendar()

38

In [17]:
todays_date.isocalendar()[1] # isolate only the week number like any tuple

38

In [18]:
#import datetime
from datetime import datetime
# get current date
now = datetime.now()

In [20]:
# convert current date into timestamp
timestamp = datetime.timestamp(now)

print("Date and Time:", now)
print("Timestamp:", timestamp)

Date and Time: 2022-09-20 18:05:23.501836
Timestamp: 1663711523.501836

In [21]:
timestamp = 1572014192.8273

#convert timestamp to datetime object
dt_object = datetime.fromtimestamp(timestamp)

print('dt_object:', dt_object)
print('type(dt_object):', type(dt_object))

dt_object: 2019-10-25 10:36:32.827300
type(dt_object): <class 'datetime.datetime'>

In [22]:
#import datetime
from datetime import timedelta

# create timedelta object with difference of 2 weeks
d = timedelta(weeks=2)

print(d)
print(type(d))
print(d.days)

14 days, 0:00:00
<class 'datetime.timedelta'>
14

In [23]:
year = timedelta(days=365)
print(year)

365 days, 0:00:00

In [24]:
# import datetime
from datetime import datetime, timedelta

# get current time
now = datetime.now()
print ("Today's date: ", str(now))

Today's date:  2022-09-20 18:15:48.267374

In [25]:
# add 15 days to current date
future_date_after_15days = now + timedelta(days = 15)
print('Date after 15 days:', future_date_after_15days)

Date after 15 days: 2022-10-05 18:15:48.267374

In [27]:
# subtract 2 weeks from current date
two_weeks_ago = now - timedelta(weeks = 2)
print('Date two weeks ago:', two_weeks_ago)
print('two_weeks_ago object type:', type(two_weeks_ago))

Date two weeks ago: 2022-09-06 18:15:48.267374
two_weeks_ago object type: <class 'datetime.datetime'>

In [34]:
# import datetime
from datetime import date

# Create two dates, hour, minutes, seconds
date1 = datetime(2017, 6, 21, 18, 25, 30)
date2 = datetime(2017, 5, 16, 8, 21, 10)

# Difference between the dates
delta = date1 - date2
print("difference:", delta)
print(type(delta))

difference: 36 days, 10:04:20
<class 'datetime.timedelta'>

In [35]:
date_string = "1 August, 2019"

# format date
date_object = datetime.strptime(date_string, "%d %B, %Y")
print(date_object)

2019-08-01 00:00:00

In [38]:
dt_string = "12/11/2018 09:15:32"

# Considering date is in dd/mm/yyyy format
dt_object1 = datetime.strptime(dt_string, "%d/%m/%Y %H:%M:%S")
print("dt_object1:", dt_object1)

# Considering date is in mm/dd/yyyy format
dt_object2 = datetime.strptime(dt_string, "%m/%d/%Y %H:%M:%S")
print("dt_object2:", dt_object2)

# Convert dt_object2 to Unix Timestamp
timestamp = datetime.timestamp(dt_object2)
print('Unix Timestamp: ', timestamp)

# Convert back into datetime
date_time = datetime.fromtimestamp(timestamp)
d = date_time.strftime("%c")
print("Output 1:", d)
d = date_time.strftime("%x")
print("Output 2:", d)
d = date_time.strftime("%X")
print("Output 3:", d)

dt_object1: 2018-11-12 09:15:32
dt_object2: 2018-12-11 09:15:32
Unix Timestamp:  1544537732.0
Output 1: Tue Dec 11 09:15:32 2018
Output 2: 12/11/18
Output 3: 09:15:32

In [39]:
# current date and time
now = datetime.now()

In [40]:
# get year from date
year = now.strftime("%Y")
print('Year:', year)

Year: 2022

In [41]:
# get month from date
month = now.strftime("%m")
print('Month:', month)

Month: 09

In [42]:
# get day from date
day = now.strftime("%d")
print('Day:', day)

Day: 20

In [43]:
# format time in HH:MM:SS
time = now.strftime("%H:%M:%S")
print(time)

20:43:11

In [45]:
# format date
date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print(date_time)

09/20/2022, 20:43:11

In [47]:
from pytz import timezone

In [48]:
# Create timezone US/Eastern
east = timezone('US/Eastern')

# Localize date
loc_dt = east.localize(datetime(2011, 11, 2, 7, 27, 0))
print(loc_dt)

# Convert localized date into Asia/Kolkata timezone
kolkata = timezone("Asia/Kolkata")
print(loc_dt.astimezone(kolkata))

# Convert localized date into Australia/Sydney timezone
au_tz = timezone('Australia/Sydney')
print(loc_dt.astimezone(au_tz))

2011-11-02 07:27:00-04:00
2011-11-02 16:57:00+05:30
2011-11-02 22:27:00+11:00

In [51]:
import pandas as pd
import numpy as np

# create date object using to_datetime() function
date = pd.to_datetime('8th of sep, 2019')
print(date)

2019-09-08 00:00:00

In [52]:
# create date series using numpy and to_timedelta
date_series = date + pd.to_timedelta(np.arange(12), 'D')
print(date_series)

DatetimeIndex(['2019-09-08', '2019-09-09', '2019-09-10', '2019-09-11',
               '2019-09-12', '2019-09-13', '2019-09-14', '2019-09-15',
               '2019-09-16', '2019-09-17', '2019-09-18', '2019-09-19'],
              dtype='datetime64[ns]', freq=None)

In [53]:
# create date series using date_range() function
date_series = pd.date_range('08/10/2019', periods = 12, freq = 'D')
print(date_series)

DatetimeIndex(['2019-08-10', '2019-08-11', '2019-08-12', '2019-08-13',
               '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
               '2019-08-18', '2019-08-19', '2019-08-20', '2019-08-21'],
              dtype='datetime64[ns]', freq='D')

In [54]:
# create a dataframe with one column date
df = pd.DataFrame()
df['date'] = date_series 
df.head()

        date
0 2019-08-10
1 2019-08-11
2 2019-08-12
3 2019-08-13
4 2019-08-14

In [55]:
# Extract year, month, day, hour, and minute. 
# Assign all these date component to new column.

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute
df.head()

        date  year  month  day  hour  minute
0 2019-08-10  2019      8   10     0       0
1 2019-08-11  2019      8   11     0       0
2 2019-08-12  2019      8   12     0       0
3 2019-08-13  2019      8   13     0       0
4 2019-08-14  2019      8   14     0       0

In [58]:
# get Weekday and Day of Year. 
# Assign all these date component to new column.

df['weekday'] = df['date'].dt.weekday
df['day_name'] = df['date'].dt.day_name
df['dayofyear'] = df['date'].dt.dayofyear
df.head()

,date,year,month,day,hour,minute,weekday,day_name,dayofyear
0,2019-08-10,2019,8,10,0,0,5,<bound method PandasDelegate._add_delegate_acc...,222
1,2019-08-11,2019,8,11,0,0,6,<bound method PandasDelegate._add_delegate_acc...,223
2,2019-08-12,2019,8,12,0,0,0,<bound method PandasDelegate._add_delegate_acc...,224
3,2019-08-13,2019,8,13,0,0,1,<bound method PandasDelegate._add_delegate_acc...,225
4,2019-08-14,2019,8,14,0,0,2,<bound method PandasDelegate._add_delegate_acc...,226