In [1]:
import datetime

#get current date and time
datetime_object = datetime.datetime.now()
print(datetime_object)

2022-09-20 21:01:06.704004

In [3]:
# get current date
date_object = datetime.date.today()
print(datetime_object)

2022-09-20 21:01:06.704004

In [4]:
# what's inside datetime?
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [5]:
# date object to represent a date
d = datetime.date(2019, 4, 13)
print(d)

2019-04-13

In [7]:
# get current date
today = datetime.date.today()

print('Current date =', today)

Current date = 2022-09-20

In [8]:
# get date from a timestamp
timestamp = datetime.date.fromtimestamp(1326244364)
print("date =", timestamp)

date = 2012-01-10

In [9]:
# print todays year month and day
today = datetime.date.today()

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2022
Current month: 9
Current day: 20

In [15]:
# time object to represent time
a = datetime.time() #default is 00:00:00
print("a =", a)

b = datetime.time(11, 34, 54)
print("b =", b)

c = datetime.time(11, 34, 54, 356645)
print('c =', c)

a = 00:00:00
b = 11:34:54
c = 11:34:54.356645

In [16]:
# print hour, minute, second and microsecond 
from datetime import time

a = time(11, 34, 56)

print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("microsecond =", a.microsecond) # no microsecond argument, so output = 0

hour = 11
minute = 34
second = 56
microsecond = 0

In [18]:
# Python datetime object
from datetime import datetime

# datetime(year, month, day)
a = datetime(2018, 11, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

In [19]:
# Print year, month, hour, minute and timestamp

a = datetime(2017, 11, 28, 23, 55, 59, 342380)
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 2017
month = 11
hour = 23
minute = 55
timestamp = 1511931359.34238

In [21]:
# difference between two dates and times

from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

In [22]:
# difference between two timedelta objects

from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

In [23]:
# printing negative timedelta object

t1 = timedelta(seconds = 33)
t2 = timedelta(seconds = 54)
t3 = t1 - t2

print("t3 =", t3)
print("t3 =", abs(t3))

t3 = -1 day, 23:59:39
t3 = 0:00:21

In [24]:
# time duration in seconds

t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("total seconds =", t.total_seconds())

total seconds = 435633.233423

In [25]:
# strftime()
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

time: 21:16:20
s1: 09/20/2022, 21:16:20
s2: 20/09/2022, 21:16:20

In [26]:
# strptime()

from datetime import datetime

date_string = "21 June, 2018"
print("date_string =", date_string)

date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 21 June, 2018
date_object = 2018-06-21 00:00:00

In [27]:
# handling timezone in python

from datetime import datetime
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 09/20/2022, 21:19:22
NY: 09/20/2022, 21:19:22
London: 09/21/2022, 02:19:22